:root {
  /* LIGHT MODE VARIABLES */
  --bg-primary: #f0f2f5;
  --bg-secondary: #f5f5f5;
  --text-primary: #333333;
  --text-secondary: #666666;
  --card-bg: #f0f2f5;
  --border-color: #dddddd;
  --accent: #20c5b5;
  --nav-bg: rgba(255, 255, 255, 0.666);
  --accent: #20c5b5;
  --toggle-icon: #0f0f0f;
  --nav-link: #627084;
  --nav-link-hover: #0f0f0f;
  --logo: #131820;
  --btn-ghost: #efe4e4;
  --txt: #131820;
  --bg: #20c5b5;
  --btn-accent-txt: #f5f5f5;
  --hero-name: #1d2530;
  --btn-ghost-hover: #131820;
  --btn-ghost: #8a99a9;
  --social-link: #f0f2f5;
  --social-link-txt: #131820;
}

[data-theme='dark'] {
  --bg-primary: #131820;    /* Deepest Black */
  --bg-secondary: #151b25;  /* Slightly Lighter Grey-Black */
  --card-bg: #192029;
  --text-primary: #f0f2f5;
  --text-secondary: #a0a0a0;
  --border-color: #333333;
  --nav-bg: rgba(60, 63, 62, 0.429);
  --logo: #f5f5f5;
  --toggle-icon: #f5f5f5;
  --btn-ghost: #8a99a9;
  --txt: #131820;
  --btn-accent-txt: #131820;
  --hero-name: #f5f5f5;
  --btn-ghost-hover: #f5f5f5; 
  --social-link: #252c37;
  --social-link-txt: #f0f2f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-primary); /* This makes the whole page dark */
  color: var(--text-primary);
  font-family: system-ui, -apple-system, sans-serif;
  transition: background-color 0.3s ease;
}

#root {
  width: 100%;
  max-width: none; /* REMOVES THE 1280px LIMIT */
  margin: 0;
  padding: 0;
  text-align: left; /* FIXES THE CENTERING ISSUE */
}

html { scroll-behavior: smooth; }